@font-face{
    font-family: "title";
    src: url("SourceSansPro-Regular.ttf");
}

html{
    height: 100%;
    margin:0;
}

body{
    font-family: "title";
    font-display: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    font-size: 18px;
}

form {
    max-width: 500px;
    width: 100%;
    margin: 0   auto;
    background: rgba(0,0,0,0.4);
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    color:aliceblue;
    text-align: center;
    margin:0 auto;
    font-size: 30px;
}

label {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

input {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    margin-bottom: 15px;
    padding: 2px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    padding: 5px;
    margin-top: 10px;
    margin-left: 3px;
}

#Fecha{
    text-align: center;
}

#sign-up-btn{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    background: #31384A;
    color: #fff;
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width:530px) {
    form,input,select,button{
        width: 90%;
    }
}

.sign-up-container {
    margin:  0 auto;
    margin-top: 80px;
    margin-bottom: 200px;
}

main {
    background-color: white;
    width: 100%;
    /*padding-top: 10px;*/ /*espacio arriba*/
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

nav{
    background-color: #252629;
    width: 100%;
}

footer{
    background-color:   #343434;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
}

footer a {
    color:#EC5504;
    text-decoration: none;
}

.content-box{
    text-align: justify;
}

.foot-box{
    width: 50%
}

#maps{
    max-width: 500px;
    width:100%;
    margin: 0 auto;
    display:block;
    max-height: 80px;
    frameborder:0;
    border:0;
}

#search-in{
    width:150px;
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#search-rigth{
    float:right;
}